.contenedorTecnologiasIMG{
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .4);
    transition: 1s;
    margin: 10px 0;
}

.contenedorTecnologiasIMG:hover{
    background: linear-gradient(147deg,#ff6b01,#fd3838);
}

.logoTecnologias{
    width: 180px;
    height: 180px;
    object-fit: cover;
}

.contenedorIconos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}